@charset "utf-8";


.fundofixo{
    background: url(../images/churrasco.jpg) no-repeat fixed;
    -webkit-background-size: cover ;
    background-size: cover;
}

.table{
    border: 5px solid #fff; 
}

.table th{
    border: 3px solid #fff;
    text-align: center;
}

.table td{
    border: 3px solid #fff;    
    text-align: center;
}

.table td .largButton{
    border: 3px solid #fff;
    margin-top: 5px;
}

.largButton{
    width: 100px;     
}